:root {
	--dot-pattern-intensity: 0.5;
	--canvas-dot-pattern: hsla(0, 0%, var(--color-base-comp-l-100), var(--dot-pattern-intensity));
	/* the amount of effect the overlay layer has on the canvase background */
	--canvas-dimmer: 51%;
	/* the amount of affect the overlay layer has on the canvas node */
	--canvas-node-dimmer: 10%;
	/* the brightness of the overlay layer */
	--canvas-dimmer-intensity: 50%;

}

.theme-light {

	/* here for reference, nothing changed from the default theme thought */
	color-scheme: light;

	--highlight-mix-blend-mode: multiply;
	--inverted-mix-blend-mode: screen;
	--mono-rgb-0: 255, 255, 255;
	--mono-rgb-100: 0, 0, 0;
	--color-red-rgb: 233, 49, 71;
	--color-red: #e93147;
	--color-orange-rgb: 236, 117, 0;
	--color-orange: #ec7500;
	--color-yellow-rgb: 224, 172, 0;
	--color-yellow: #e0ac00;
	--color-green-rgb: 8, 185, 78;
	--color-green: #08b94e;
	--color-cyan-rgb: 0, 191, 188;
	--color-cyan: #00bfbc;
	--color-blue-rgb: 8, 109, 221;
	--color-blue: #086ddd;
	--color-purple-rgb: 120, 82, 238;
	--color-purple: #7852ee;
	--color-pink-rgb: 213, 57, 132;
	--color-pink: #d53984;

	/* you can change the hue and saturation of the base color in one place */
	--color-base-comp-hs: 75, 10%;

	/* you can change the lightness of the base color with this list */
	--color-base-comp-l-00: 80%;
	--color-base-comp-l-05: 78%;
	--color-base-comp-l-10: 75%;
	--color-base-comp-l-20: 71%;
	--color-base-comp-l-25: 67%;
	--color-base-comp-l-30: 62%;
	--color-base-comp-l-35: 56%;
	--color-base-comp-l-40: 49%;
	--color-base-comp-l-50: 41%;
	--color-base-comp-l-60: 32%;
	--color-base-comp-l-70: 22%;
	--color-base-comp-l-100: 11%;

	/* this is the expansion of the above variables */
	--color-base-00: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-00));
	--color-base-05: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-05));
	--color-base-10: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-10));
	--color-base-20: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-20));
	--color-base-25: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-25));
	--color-base-30: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-30));
	--color-base-35: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-35));
	--color-base-40: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-40));
	--color-base-50: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-50));
	--color-base-60: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-60));
	--color-base-70: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-70));
	--color-base-100: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-100));

	--canvas-dimmer-intensity: 50%;

}

.theme-dark {

	/* here for reference, nothing changed from the default theme thought */
	color-scheme: dark;
	--highlight-mix-blend-mode: screen;
	--inverted-mix-blend-mode: multiply;
	--mono-rgb-0: 255, 255, 255;
	--mono-rgb-100: 0, 0, 0;
	--color-red-rgb: 233, 49, 71;
	--color-red: #e93147;
	--color-orange-rgb: 236, 117, 0;
	--color-orange: #ec7500;
	--color-yellow-rgb: 224, 172, 0;
	--color-yellow: #e0ac00;
	--color-green-rgb: 8, 185, 78;
	--color-green: #08b94e;
	--color-cyan-rgb: 0, 191, 188;
	--color-cyan: #00bfbc;
	--color-blue-rgb: 8, 109, 221;
	--color-blue: #086ddd;
	--color-purple-rgb: 120, 82, 238;
	--color-purple: #7852ee;
	--color-pink-rgb: 213, 57, 132;
	--color-pink: #d53984;

	/* you can change the hue and saturation of the base color in one place */
	--color-base-comp-hs: 60, 5%;

	/* you can change the lightness of the base color with this list */
	--color-base-comp-l-00: 11%;
	--color-base-comp-l-05: 22%;
	--color-base-comp-l-10: 32%;
	--color-base-comp-l-20: 41%;
	--color-base-comp-l-25: 49%;
	--color-base-comp-l-30: 56%;
	--color-base-comp-l-35: 62%;
	--color-base-comp-l-40: 67%;
	--color-base-comp-l-50: 71%;
	--color-base-comp-l-60: 75%;
	--color-base-comp-l-70: 78%;
	--color-base-comp-l-100: 80%;

	/* this is the expansion of the above variables */
	--color-base-00: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-00));
	--color-base-05: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-05));
	--color-base-10: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-10));
	--color-base-20: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-20));
	--color-base-25: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-25));
	--color-base-30: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-30));
	--color-base-35: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-35));
	--color-base-40: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-40));
	--color-base-50: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-50));
	--color-base-60: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-60));
	--color-base-70: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-70));
	--color-base-100: hsl(var(--color-base-comp-hs), var(--color-base-comp-l-100));

}

.wrongness .canvas-wrapper .canvas-background {
	background-color: rgba(127, 127, 127, 0.0);
	position: relative;
	/* Ensure the overlay is positioned correctly */
}

.wrongness .canvas-wrapper .canvas-background ::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: hsla(0, 0%, 100%, 100%); */
	background-color: hsla(0, 0%, var(--canvas-dimmer-intensity), var (--canvas-dimmer));
	mix-blend-mode: screen;
	pointer-events: none;
	/* Prevents interference with canvas interaction */
}

.wrongness .canvas-node .canvas-node-container {
	background-color: var(--primary-background-color);
	position: relative;
	/* Ensure the overlay is positioned correctly */
}

.wrongness .canvas-node .canvas-node-container ::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: hsla(0, 0%, 100%, 50%); */
	background-color: hsla(0, 0%, var(--canvas-dimmer-intensity), var(--canvas-node-dimmer));
	mix-blend-mode: multiply;
	pointer-events: none;
	/* Ensure the overlay doesn't affect interactivity */
}